<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/post" style="margin-bottom: 20px; display: inline-block;">Add Data</a>

    <table border="1" cellpadding="10">
        <tr>
            <td>Title</td>
            <td>Age</td>
            <td>Img</td>
            <td>Action</td>
        </tr>
        <%for(var obj of post){%>
            <tr>
                <td>
                    <%=obj.title%>
                </td>
                <td>
                    <%=obj.sub%>
                </td>
                <td>
                    <img src="<%=obj.postImg%>" height="100">
                </td>
                <td>
                    <a href="/post/deletePost/?id=<%=obj.id%>">Delete</a> || <a href="/post/updatePost/?id=<%=obj.id%>">Update</a>
                </td>
            </tr>
            <%}%>
    </table>
</body>

</html>